/* #skills .inner__container {
    border: 2px solid red;
}
#skills .inner__container .h2 {
    top: 3rem;
} */





* {
    box-sizing: border-box;
}

.container__wrapper {
    background-image: url(../image/World_map.png);
    display: grid;
    width: 100%;
    height: 100%;
    margin: 40px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.container__wrapper .container__1:nth-child(1) {
    padding-bottom: 20rem;
}
.container__1 {
    position: relative;
    height: 19rem;
}

.icon img {
    /* border: 2px solid; */
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 19rem;
    height: 19rem;
    /* border-radius: 10px; */
}

.divider__wrapper h2 {
    padding-bottom: 4px;
    position: absolute;
    top: 2rem;
    left: 3rem;
}

.divider__wrapper p {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    color: white;
    padding: 205px;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    color: white;
    width: 19rem;
    height: 19rem;
    /* border-radius: 10px; */
    /* padding: 15px; */
    transform: perspective(600px) rotateY(180deg);
    transition: transform .5s linear 0s;
    backface-visibility: hidden;
}

#services .icon-1 img {
    position: absolute;
    width: 19rem;
    height: 19rem;
    z-index: 100;
}

.container__1:nth-child(1) .back {
    background-color: var(--dark-color);
    /* background-image: url("../image/icon/web-design.png"); */
    background-size: contain;
    width: 19rem;
    height: 19rem;
    border: 2px solid;
}
.container__1:nth-child(2) .back {
    background-color: var(--dark-color);
    /* background-image: url("../image/icon/backend.png"); */
    background-size: contain;
    width: 19rem;
    height: 19rem;
    border: 2px solid;
}
.container__1:nth-child(3) .back {
    background-color: var(--dark-color);
    /* background-image: url("../image/icon/development.png"); */
    background-size: contain;
    width: 19rem;
    height: 19rem;
    border: 2px solid;
}
.container__1:nth-child(4) .back {
    background-color: var(--dark-color);
    /* background-image: url("../image/icon/programmer.png"); */
    background-size: contain;
    width: 19rem;
    height: 19rem;
    border: 2px solid;
}
.container__1:nth-child(5) .back {
    background-color: var(--dark-color);
    /* background-image: url("../image/icon/regression.png"); */
    background-size: contain;
    width: 19rem;
    height: 19rem;
    border: 2px solid;
}
.divider__wrapper {
    color: white;
    transform: perspective(600px) rotateY(10deg);
    transition: all 400ms ease;
}

.container__1:hover>.front {
    transform: perspective(600px) rotateY(180deg);
    cursor: pointer;
}

.container__1:hover>.back {
    transform: perspective(600px) rotateY(-30deg);
    cursor: pointer;
}




@media screen and (max-width: 1024px) {
    container__wrapper {
        grid-template-columns: repeat(1, 1fr);
        gap:5px;
    }
}




@media(min-width: 768px) {
    .container__wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media(max-width: 480px) {
    .container__wrapper {
        grid-template-columns: repeat(1, 1fr);

    }
}