
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* 
.open-button {
  background-color: rgb(12, 42, 212);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  z-index: 100;
}


.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 1000;
}


.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}


.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

.form-container textarea:focus {
  background-color: #04AA6D;
  outline: none;
}


.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}


.form-container .cancel {
  background-color: red;
}


.form-container .btn:hover, .open-button:hover {
  opacity: 1;
} */

.containerr {
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerr p {
    font-size: 3rem;
    
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}
.containerr p span.typed-text {
    font-weight: normal;
    color: #dd7732;
}
.containerr p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}
.containerr p span.cursor.typing {
    animation: none;
}
@keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
}


.container__wrapper {
    background-image: url(../image/World_map.png);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
} 
.container__wrapper .container__1:nth-child(1) {
    padding-bottom: 20rem;
}
.container__1 {
    position: relative;
    border-radius: 15px;
    height: 20rem;
}

.icon img {
    position: absolute;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.divider__wrapper h2 {
    padding-bottom: 8px;
    position: absolute;
    top: 2rem;
    left: 3%;
}

.divider__wrapper p {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    color: white;
    padding: 205px;
}

.back {
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    color: white;
    width: 96%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    transform: perspective(600px) rotateY(180deg);
    transition: transform .5s linear 0s;
    backface-visibility: hidden;
}
/* #services .services__title .back h2 {
    padding-left: 10%;
} */

#services .icon-1 img {
    position: absolute;
    width: 19rem;
    height: 19rem;
    z-index: 1;
}

.container__1:nth-child(1) .back {
    background-color: var(--color-secondary);
}
.container__1:nth-child(2) .back {
    background-color: var(--color-secondary);
}
.container__1:nth-child(3) .back {
    background-color: var(--color-secondary);
}
.container__1:nth-child(4) .back {
    background-color: var(--color-secondary);
}
.container__1:nth-child(5) .back {
    background-color: var(--color-secondary);
}
.divider__wrapper {
    color: white;
    transform: perspective(600px) rotateY(1deg);
    transition: all 400ms ease;
}

.container__1:hover>.front {
    transform: perspective(600px) rotateY(180deg);
    cursor: pointer;
}

.container__1:hover>.back {
    transform: perspective(600px) rotateY(-30deg);
    cursor: pointer;
}


