* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
:root {
    --color-primary: #191d2b;
    --color-secondary: #6a5acd;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 5px 3px 15px rgba(0,0,0,.3);
    --light-blue: lightblue;
    --slateblue: SlateBlue;
    --first-color: #5361FF;
    --light-dark-color: #FAFAFF;
    --dark-color: #2A3B47;
    --text-color: #697477;
}

.light-mode {
    --color-primary: #FFFFFF;
    --color-secondary: #3f3f3f;
    --color-white: #454e56;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #6c7983;
    --color-grey-2: #6c7983;
    --color-grey-3: #6c7983;
    --color-grey-4: #fff;
    --light-dark-color: #080808;
    --color-grey-5: rgb(41, 37, 37);
    --color-grey-6: #272e31;
}



html {
    scroll-behavior: smooth;
}
body {
    
    background: var(--color-grey-4);
    font-family: "Poppins", sans-serif;
    color: var(--color-white);
    transition: all 0.4s ease-in-out;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}


#text {
    padding-left: 2.7rem;
}

.theme__btn {
    top: 0;
    right: 50%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: all 0.1s ease-in-out;
}
/* .theme__btn:active {
    transform: translateY(-3px);
} */
.theme__btn i {
    /* padding-top: 1rem; */
    font-size: 20px;
    color: var(--light-dark-color);
    pointer-events: none;
}
.theme__btn:hover {
    color: var(--color-white);
    /* box-shadow: 4px 3px 15px rgba(0, 0, 0, 0.3);
    background: var(--color-secondary); */
}

.bg-dark {
    color: --light-dark-color;
}

/* to change nav style on scroll with js */
.window-scroll {
    background: var(--color-grey-4);
    box-shadow: 0 1rm 2rem 1rem rgba(0, 0, 3, 0.4);
}


.text-shadow {
    font-size: 3rem;
}

.text-shadow span {
    font-size: 3.5rem;
    font-weight: 600;
}
.text-shadow span em {
    font-size: 4rem;
    color: #ffa500;
}


/* HOME___SECTION */
#home {
    background: url("../image/Laptop.png") no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: saturate(0) brightness(0.6);;
    min-height: 600px;
    padding-top: 180px;
    padding-bottom: 100px;
}
    /* about section */

.about__content {
    position: relative;
    color: var(--color-black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    padding-top: 2rem;
    padding-bottom: 40px;
    gap: 3rem;
}
.about__container {
    position: relative;
    padding: 1px;
    margin-top: 0rem;
}
.about__container .info1 {
    width: fit-content;
    font-size: 16px;
}
.about__container .info2 {
    padding-bottom: 2rem;
    width: 95%;
    font-size: 16px;
}

.about__container h2 {
    padding-bottom: 2rem;
    text-shadow: 10px 10px 6px black;
}

.about__container .disign {
    position: absolute;
    top: 0;
    right: 1rem;
    height: 2rem;
    width: 18rem;
    margin-bottom: rem;
    border: 2px solid var(--text-color);
    background: var(--white-color);
    border-radius: 20px;
    box-shadow: 10px 10px 6px black;

}
.about__container button {
    height: 3rem;
    width: 5rem;
    border: 2px solid var(--text-color);
    background: var(--text-color);
}
.about__container button:hover {
    background: transparent;
}
.about__container button a {
    text-decoration: none;
    color: var(--white-color);
    font-style: italic;
    font-weight: 700;
    font-size: 1rem;
}
.image__container .img__responsive {
    width: 29rem;
    height: 25rem;
    /* width: 100%;
    height: 100%; */
    border-radius: 15px;
}
.image__container {
    /* border: 1px solid; */
    /* box-shadow: 5px 10px 40px 10px rgb(14, 13, 13); */
    /* padding-right: 2rem; */
    width: 100%;
    height: 400px;
    
}


/* SKILLS__SECTION */

.portfolio__container {
    padding-top: 4rem;
}
.portfolio__container .main__title h2 {
    padding-left: 40%;
    font-size: 3rem;
}
.portfolio__container .main__title h2 span {
    color: var(--yellow-color);
    font-weight: 800;
}

.skills__stats {
    padding-bottom: 4rem;
}
.skills__stats .progress__bars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}
.skills__stats .progress__bar {
    display: flex;
    flex-direction: column;
}
.skills__stats .prog__title {
    text-transform: uppercase;
    font-weight: 500;
}
.skills__stats .progress__con {
    display: flex;
    align-items: center;
}
.skills__stats .prog__value {
    color: var(--color-grey-2);
}
.skills__stats .progress {
    width: 100%;
    height: 0.45rem;
    background-color: var(--color-grey-6);
    margin-left: 1rem;
    position: relative;
}
.skills__stats .progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-secondary);
    transition: all 0.4s ease-in-out;
    width: 60%;
}
.skills__stats .progress .html {
    width: 85%;
}
.skills__stats .progress .css {
    width: 80%;
}
.skills__stats .progress .js {
    width: 70%;
}
.skills__stats .progress .react {
    width: 70%;
}
.skills__stats .progress .node {
    width: 60%;
}
.skills__stats .progress .python {
    width: 68%;
}

.stat__title {
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    padding: 3.5rem 0;
    position: relative;
}
.stat__title::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 40%;
    height: 1px;
    background-color: var(--color-grey-5);
    transform: translateX(-50%);
}

/* potfolio---part */

.port-text {
    padding: 1rem 0;
    text-align: center;
}

.portfolios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
}
.portfolios .portfolio-item {
    position: relative;
    border-radius: 15px;
}
.portfolios .portfolio-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}
.portfolios .portfolio-item .hover-items {
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items h3 {
    font-size: 1.5rem;
    color: var(--color-white);
    margin-bottom: 1.5rem;
}
.portfolios .portfolio-item .hover-items .icons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolios .portfolio-item .hover-items .icons .icon {
    background-color: var(--color-primary);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items .icons .icon i {
    font-size: 1.5rem;
    color: var(--color-white);
    margin: 0 1rem;
}
.portfolios .portfolio-item .hover-items .icons .icon:hover {
    background-color: var(--color-white);
}
.portfolios .portfolio-item .hover-items .icons .icon:hover i {
    color: var(--color-primary);
}
.portfolios .portfolio-item:hover .hover-items p, h3 {
    color: #fff !important;
}

.portfolio-item:hover .hover-items {
    opacity: 1;
    transform: scale(1);
}





/* contact section */
.contact-content-con {
    display: flex;
    flex-direction: row;
    padding-top: 3.5rem;
}
.contact-content-con .left-contact {
    flex: 2;
}
.contact-content-con .left-contact h4 {
    margin-top: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
}
.contact-content-con .left-contact p {
    margin: 1rem 0;
    line-height: 2rem;
}
.contact-content-con .left-contact .contact-info .contact-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-content-con .left-contact .contact-info .contact-item p {
    margin: 0.3rem 0 !important;
    padding: 0 !important;
}
.contact-content-con .left-contact .contact-info .contact-item .icon {
    display: grid;
    grid-template-columns: 40px 1fr;
}
.contact-content-con .left-contact .contact-info .contact-item .icon i {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}
.contact-content-con .left-contact .contact-icon {
    display: flex;
    margin-top: 2rem;
}
.contact-content-con .left-contact .contact-icon a {
    display: flex;
    align-items: center;
    color: var(--color-white);
    background-color: var(--color-grey-5);
    cursor: pointer;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 0.4rem;
    transition: all 0.4s ease-in-out;
}
.contact-content-con .left-contact .contact-icon a:hover {
    background-color: var(--color-secondary);
}
.contact-content-con .left-contact .contact-icon a:hover i {
    color: var(--color-primary);
}
.contact-content-con .left-contact .contact-icon a i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}
.contact-content-con .right__contact {
    flex: 3;
    margin-left: 3rem;
}
.contact-content-con  .input-control {
    margin: 1.5rem 0;
}
.contact-content-con  .input-control input, .contact-content-con  .input-control textarea {
    border-radius: 30px;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 0.8rem 1.1rem;
    outline: none;
    border: none;
    background-color: var(--color-grey-5);
    width: 100%;
    color: var(--color-white);
    resize: none;
}
.contact-content-con  .i-c-2 {
    display: flex;
}
.contact-content-con  .i-c-2 :last-child {
    margin-left: 1.5rem;
}
.contact-content-con  .submit-btn {
    display: flex;
    justify-content: flex-start;
}
.main-btn {
    border-radius: 30px;
    font-weight: 600;
    position: relative;
    top: 2rem;
    border: 2px solid --light-dark-color;
    display: flex;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;
}
.main-btn .btn-text {
    padding: 1rem 2rem;
    background: var(--color-grey-1);
    font-weight: 800;
}
.main-btn .btn-text:hover {
    background: rgb(7, 97, 156);
    transition: all 400ms ease-in-out;
}






#contact-header {
    background: url("../images/contact-header.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    padding-top: 160px;
}

#contact h2 {
    text-align: center;
    padding-bottom: 30px;
}
#contact .form-control {
    background: #ffffff1a;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 20px;
    transition: all 0.4s ease-in;
    color: #fff;
}
#contact .form-control:focus {
    background: #404040;
}
#contact input {
    height: 40px;
}
.form-control::-moz-placeholder {
    color: #fff;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #fff;
}
.form-control::-webkit-input-placeholder {
    color: #fff;
}
#map-canvas {
    border: none;
    width: 100%;
    height: 300px;
}


/* copyright section */
.copyright {
    margin: 10px 0px;
}
.copyright p {
    padding-top: 20px;
}
.social-icons {
    padding: 0px;
    margin: 0px;
}
.social-icons li {
    display: inline-block;
    list-style: none;
    background: #0f2d44;
    margin: 10px 0px 0px 0px;
}
.social-icons li a {
    color: #ced8de;
    text-decoration: none;
    font-size: 13.3px;
    padding: 10px 15px;
    text-align: center;
    transition: all 0.4s ease-in;
}
.social-icons li:hover {
    background: #ffa500;
    color: #fff;
}
.social-icons li:hover a {
    color: #fff;
}


/* copyright section */
.copyright {
    margin: 10px 0px;
}
.copyright p {
    padding-top: 20px;
}
.social-icons {
    padding: 0px;
    margin: 0px;
}
.social-icons li {
    display: inline-block;
    list-style: none;
    background: #0f2d44;
    margin: 10px 0px 0px 0px;
}
.social-icons li a {
    color: #ced8de;
    text-decoration: none;
    font-size: 13.3px;
    padding: 10px 15px;
    text-align: center;
    transition: all 400ms ease-in;
}
.social-icons li:hover {
    background: #ffa500;
    color: #fff;
}
.social-icons li:hover a {
    color: #fff;
}



.active {
    display: block;
    animation: appear 1s ease-in-out;
    transform: translateY(0) scaleY(1);
}
@keyframes appear {
    0% {
    transform: translateY(-100%) scaleY(0);
    }
    100% {
    transform: translateY(0) scaleY(1);
    }
}


/* CONTACT-----BUTTON */
.contact__btn {
    color: #000e17;
    /* border: 1px solid #000e17; */
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: none;
    place-items: center;
    cursor: pointer;
    transition: all 400ms ease;
}

.header__btn {
    background: #fff;
    position: absolute;
    left: 9%;
    top: 8vw;
}

.contact__btn i {
    font-size: 3.5rem;
    position: absolute;
}
.header__btn p {
    font-size: 1rem;
    font-weight: 600;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    animation: spinText 15s linear infinite;
}
.header__btn p span {
    position: absolute;
    transform-origin: 0.4rem 5rem ;
}

@keyframes spinText {

    to {
        transform: rotate(360deg);
    }
    
}




/* ===========Medi-Queries========= */

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.7rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    h4 {
        font-size: 1.1rem;
    }

    .menu { 
        display:none;
        position: absolute;
        background-color:teal;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    .menu li:hover {
        display: inline-block;
        background-color:#4c9e9e;
        transition: 0.3s ease;
    }
    .menu li + li {
        margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu{
        display: block;
    }
    .hamburger {
        display: block;
    }
    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }
        .dropdown li:hover {
        background-color: #4c9e9e;
    }


    .container__wrapper {
        background-image: url(../image/World_map.png);
        display: grid;
        width: 93%;
        height: 100%;
        /* margin-left: 2rem; */
        margin-top: 10%;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .back {
        position: absolute;
        width: 90%;
        height: 300px;
    }
    .portfolios {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
        margin-top: 2rem;
    }
    .skills__stats .progress__bars {
        grid-template-columns: repeat(1, 1fr);
    }

    .about__container .right-about {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-content-con {
    flex-direction: column;
    }
    .contact-content-con  {
        margin-left: 0;
        margin-top: 2.5rem;
    }

    .contact-content-con  .i-c-2 {
        flex-direction: column;
    }

    .contact-content-con  .i-c-2 :last-child {
        margin-left: 0;
        margin-top: 1.5rem;
    }

    .contact-content-con  {
        margin-bottom: 6rem;
    }

    .contact-item {
        flex-direction: column;
        margin: 1rem 0;
    }
    .contact-item p {
        font-size: 15px;
        color: var(--color-grey-2);
    }
    .contact-item span {
        font-size: 15px;
    }
    .contact-item .icon {
        grid-template-columns: 25px 1fr;
    }

    .about__content {
        max-width: 95%;
        color: var(--color-black);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; 
        padding-top: 3rem;
        gap: 2rem;
    }
    .image__container {
        max-width: 95%;
        border: 1px solid;
        width: 135%;
        height: 350px;
        object-fit: cover;
        border-radius: 15px;
        
    }
    .image__container .img__responsive {
        /* width: 25rem;
        height: 25rem; */
        /* margin-left: 6rem; */
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
    .about__container {
        /* position: relative; */
        padding: 1px;
        margin-top: 0rem;
    }
    .about__container .disign {
        height: 2rem;
        width: 10rem;
    } 
    
    .about__container .info1 {
        width: 100%;
        margin-bottom: 2rem;
        font-size: 17px;
    }
    .about__container .info2 {
        width: 100%;
        margin-bottom: 1rem;
        font-size: 17px;
    }

    .theme__btn {
        top: 1%;
        left: 55%;
        width: 47px;
        height: 47px;
    }
    

    .contact__btn {
        display: none;
    }
    .header__btn {
        display: none;
    }

    .portfolio__container {
        padding-top: 5rem;
    }
    .portfolio__container .main__title h2 {
        /* text-align: center; */
        padding-left: 20%;
        font-size: 3rem;
    }
    .portfolio__container .main__title h2 span {
        color: var(--yellow-color);
        font-weight: 800;
        /* text-align: center; */
    }
    .portfolio__container .main__title h2 cite {
        padding-left: 25%;
        /* text-align: center; */
    }

}


@media screen and (max-width: 1240px) {
    .theme__btn {
    top: 0;
    }
    .about__content {
        max-width: 95%;
        color: var(--color-black);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; 
        padding-top: 3rem;
        gap: 2rem;
    }
}